<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deimos.visitsongkhla">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Language"></activity>
        <activity android:name=".Version" />
        <activity android:name=".Setting" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4B1StKeCRf9rta5dttAeKPshaSVyx8VQ" />

        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity android:name=".Checkin" />
        <activity android:name=".Map" />
        <activity android:name=".Gallery" android:theme="@style/AppThemeNoTool" android:parentActivityName=".Home" />
        <activity android:name=".testprocessbar" />
        <activity android:name=".Gallery_MorePlaces" android:theme="@style/AppThemeNoTool" android:parentActivityName=".MorePlaces" />
        <activity android:name=".ImageGallery" />
        <activity android:name=".MoreRestaurants" />
        <activity android:name=".MorePlaces" />
        <activity android:name=".Hotel" />
        <activity android:name=".Product" />
        <activity android:name=".CheckInNearby" />
        <activity android:name=".Diary" />
        <activity android:name=".Themes" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>